header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   min-height: 5rem;

}
body {
    display: padding-left: ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4em;
    color: rgb(255, 255, 255); 
}
footer {
    background-color: rgb(135, 177, 135);
    text-align: center;
}
* {
    box-sizing: border-box;
}

li {
    display: flexbox;
}
.divheader {
    word-wrap: break-word;
}
.skotor {
    font-size: 10rem;
    font-style: italic;
    position: absolute;
    left: 0.5em;
    top: 0.9em;
}
.slogan {
    font-size: 4rem;
    position: absolute;
    left: 1.3em;
    top: 5em;
}
.imageheader {
    max-width: 100%;
}
.column {
    float: left;
    width: 100vh;
    padding: 10px;
}
.grille
{
    content: "";
    display: table;
    clear: both;
}

hr{

    border:none;
    border-top: 4px solid rgb(56, 97, 66);
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px rgb(0, 0, 0);
    margin-top: 0;
}
.div {
    width: 75vh;
    word-wrap: break-word;
    margin: 3em;
}
.image {
max-width: 100%;

}
.image2 {
width: 100%;
}

.skatecool2 {

    height: fit-content;
    width: fit-content;
}
.skateska {
    font-size: 10rem;
margin: 0px;
}
.skateska:hover {
    opacity: 50%;
    cursor: pointer;
}
.chtitskate {
    grid-column-start: 4;
    grid-row-start: 2;
    height: fit-content;
    width: fit-content;
    font-size: 5rem;
    padding-top: 2.5rem;
}

.footerinfo {
    color: white;
    margin: 0 4em;
    text-align: center;
    padding-top: 6em;
    display: flex;
justify-content: space-between;
flex-wrap: wrap;
text-align: left;
padding-top: 5em;
padding-bottom: 5em;
height: 12em;
text-align: center;
}

.image:hover{
    cursor: pointer;
}
.image2:hover{
    cursor: pointer;
}